body{
    background-image: url(./image/car-racing.jpeg);
    background-size:100%;
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
}
#game{ 
    margin-left:  400px;   
    position:absolute;
    width: 320px;
    height: 590px;
    border: 10px double red;
    background-color: darkslategrey  ; 
    border-image-source:  url(./image/border.png); 
    border-image-slice:0 20 0 20;
    border-image-repeat:round; 
    border-image-outset:0px;
}


#gameCar{
    position: absolute;
    z-index: 5 !important;
}
#gameItem{
    position: absolute;
    z-index: 1 !important;
}
#gameBarrier{
    position: absolute;
    z-index: 2 !important;
}
#gameOver{
    position: absolute;
    z-index: 10 !important;
}
#gameLine{
    position: absolute;
}
#gameStart{
        position: absolute;
        z-index: 9 !important;
}
td{
    width: 100px;
    text-align: center;
}
#tableIntruction  td:nth-child(1){
    width:35% ;
    text-align: left;
    vertical-align: text-top ;
}
#tableIntruction  td:nth-child(2){
    width:65% ;
    text-align: left;
    
}

fieldset{
    margin-left:  750px;
    width: 310px;
    height: 550px;
    position: absolute;
    border: 5px solid;
    border-radius: 10px;
    border-image-source:url(./image/black_white.jpg);
    border-image-slice:80 80 80 80;
    border-image-repeat:round; 
    border-image-outset:0px;
}
span{
    color: yellow;
}
button{
    border-radius: 10px;
    background-color:yellow ;
    font-weight: bolder;

}
button:hover{
    background-color: tomato;
}
button:active{
    background-color: blue;
}
button:disabled{
    background-color:silver;
}
#controlGame{
    color: red;
    font-size: 30px;
    height: 550px;
}
#optionGame{
   font-size: 20px;
   color:red;
   height: 590px;
}
